.container {
    display: grid;
    height: 100%;
    background-image: url('../../assets/aqua-d9b59c89.png');
    background-size: cover;
    grid-template-areas:
        'title title title'
        '. body .';
    grid-template-rows: 90px 1fr;
    grid-template-columns: 150px 1fr 150px;
}
.title-item {
    grid-area: title;
    justify-self: stretch;
    text-align: center;
    padding-top: 10px;
    padding-top: 30px;
}
.body-item {
    padding: 40px;
    grid-area: body;
    overflow: auto;
}
